@model WR.Blog.Mvc.Areas.SiteAdmin.Models.BlogPost

@{
    ViewBag.Title = "New Post";
}

<h1>New Post</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.Partial("EditForm", Model)
    <hr />
    <div class="input-buttons">
        <input type="submit" name="submitButton" value="Post" />&nbsp;
        <input type="submit" name="submitButton" value="Save and Preview" />&nbsp;
        @Html.ActionLink("Cancel", "Index", routeValues: null, htmlAttributes: new { @class = "button" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/tiny_mce/tiny_mce_js")
}
