@model WR.Blog.Mvc.Areas.SiteAdmin.Models.BlogPost

@{
    ViewBag.Title = "Edit \"" + Model.Title + "\"";
}

<h1>Edit "@Model.Title"</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.Partial("EditForm", Model)

    <span class="em small">Last Modified: @Model.LastModifiedDate</span>
    <hr />
    <div class="input-buttons">
        <button type="submit" name="submitButton" value="Publish Changes" class="btn" data-icon="&#xf32e;"> Publish Changes</button>&nbsp;
        <button type="submit" name="submitButton" value="Save and Preview" class="btn" data-icon="&#xf330;"> Save and Preview</button>&nbsp;
        @Html.IconLink(" Cancel", "Index", null, fragment: null, routeValues: null, htmlAttributes: new { @class = "btn" }, iconHtmlAttributes: new { @class = "icon-cancel-circle" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor_js")
}
