@model WR.Blog.Mvc.Areas.SiteAdmin.Models.BlogVersion

@{
    ViewBag.Title = @Model.Title;
}

<div>
    @using (Html.BeginForm("PublishVersion", "BlogAdmin"))
    {
        @Html.IconLink(" Back to Version List", "Versions", "BlogAdmin", fragment: null, routeValues: new { Area = "SiteAdmin", id = Model.VersionOfId }, htmlAttributes: new { @class = "button" }, iconHtmlAttributes: new { @class = "icon-arrow-left" })@:&nbsp;
        @Html.IconLink(" Edit This Version", "EditVersion", "BlogAdmin", fragment: null, routeValues: new { Area = "SiteAdmin", id = Model.Id }, htmlAttributes: new { @class = "button" }, iconHtmlAttributes: new { @class = "icon-quill" })@:&nbsp;
        <button type="submit" name="submitButton" value="Publish This Version" data-icon="&#xf32e;"> Publish This Version</button>
        @Html.HiddenFor(m => m.Id)
    }
</div>

@Html.Partial("~/Views/Blog/BlogBody.cshtml", Model, new ViewDataDictionary{ { "IsSummarized", false }, { "IsAdmin", ViewBag.BlogSettings.IsAdmin } })
