<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@ViewBag.Title | @ViewBag.SiteTitle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        @Styles.Render("~/Content/css/styles")
        @Styles.Render("~/Content/css/syntax")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">

            <header>
                <div id="header" class="sixteen columns half-bottom">
                    <p class="site-title">
                        @Html.ActionLink((string)ViewBag.SiteTitle, "List", "Blog", routeValues: new { Area = "" }, htmlAttributes: null)<br />
                        <span class="caption">@ViewBag.Tagline</span>
                        <span class="caption alternate">@ViewBag.AltTagline</span>
                    </p>
                </div>
            </header>
            <article>
                <div class="two columns">
                    <nav>
                        <div class="left-nav">
                            <ul class="menu nodisc">
                                    <li><h3>@Html.ActionLink("Home", "List", "Blog", new { Area = "" }, null)</h3></li>
                                @foreach (var link in ((string)ViewBag.MenuLinks).Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <li><h3>@Html.RouteLink(link.Trim(), "Content", new { urlSegment = link.Trim(), Area = "" }, null)</h3></li>
                                }
                                @if (User.IsInRole(System.Configuration.ConfigurationManager.AppSettings["AdministratorRole"]))
                                {                                
                                    <li><h3>@Html.ActionLink("Admin", "Index", "AdminHome", new { Area = "SiteAdmin" }, null)</h3></li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>                
                <div class="@(IsSectionDefined("asides") ? "ten" : "fourteen") columns">
                    @RenderSection("featured", required: false)
                    <section class="clear-fix">
                        @RenderBody()
                    </section>
                </div> 
                @RenderSection("asides", required: false)
            </article>
            <footer class="sixteen columns add-top">
                <p>&copy; Wade Rohrbach @DateTime.Now.Year</p>
            </footer>

        </div> <!-- /container -->

        @if (!string.IsNullOrWhiteSpace(ViewBag.GoogleAccount))
        {
            @Html.Partial("_GoogleAnalyticsPartial")
        }

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/syntax")
        @RenderSection("scripts", required: false)
    </body>
</html>

