@{
    var blogSettings = (WR.Blog.Mvc.Areas.SiteAdmin.Models.BlogSettings)ViewBag.BlogSettings;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@ViewBag.Title | @blogSettings.SiteTitle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        @Styles.Render("~/Content/css/styles")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">

            <header>
                <div id="header" class="sixteen columns half-bottom">
                    <p class="site-title">
                        @Html.ActionLink(blogSettings.SiteTitle, "List", "Blog", routeValues: new { Area = "" }, htmlAttributes: null)<br />
                        <span class="caption">@blogSettings.Tagline</span>
                        <span class="caption alternate">@blogSettings.AltTagline</span>
                    </p>
                </div>
            </header>
            <article>
                <div class="centered message-box @(!string.IsNullOrEmpty(ViewBag.MessageClass) ? "fadein" : "hidden")">
                    <div class="message @(ViewBag.MessageClass)">@Html.Raw(ViewBag.Message)</div>
                </div>
                <div class="two columns">
                    <nav>
                        <div class="left-nav">
                            <ul class="menu nodisc inner-shadow-right">
                                    <li><h3>@Html.ActionLink("Home", "List", "Blog", new { Area = "" }, null)</h3></li>
                                @if (!string.IsNullOrWhiteSpace(blogSettings.MenuLinks))
                                {
                                    foreach (var link in (blogSettings.MenuLinks).Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
                                    {
                                        if (!string.IsNullOrWhiteSpace(link))
                                        {
                                            <li><h3>@Html.RouteLink(link.Trim(), "Content", new { urlSegment = link.Trim(), Area = "" }, null)</h3></li>
                                        }                                    
                                    }                                    
                                }
                                @if (ViewBag.BlogSettings.IsAdmin)
                                {                                
                                    <li><h3>@Html.ActionLink("Admin", "Index", "AdminHome", new { Area = "SiteAdmin" }, null)</h3></li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>                
                <div class="@(IsSectionDefined("asides") ? "ten" : "fourteen") columns">
                    @RenderSection("featured", required: false)
                    <section class="clear-fix">
                        @RenderBody()
                    </section>
                </div> 
                @RenderSection("asides", required: false)
            </article>
            <footer class="sixteen columns add-top">
                <p>&copy; Wade Rohrbach @DateTime.Now.Year</p>
            </footer>

        </div> <!-- /container -->

        @if (!string.IsNullOrWhiteSpace(blogSettings.GoogleAccount))
        {
            @Html.Partial("_GoogleAnalyticsPartial")
        }

        @Scripts.Render("~/bundles/jquery")
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sons-of-obsidian"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>

