@model WR.Blog.Mvc.Areas.SiteAdmin.Models.BlogPost
@using PoliteCaptcha;

@{
    ViewBag.Title = @Model.Title;
}

@if (ViewBag.BlogSettings.IsAdmin)
{
    <p class="centered">
        @Html.IconLink(" Edit Post", "Edit", "BlogAdmin", fragment: null, routeValues: new { Area = "SiteAdmin", id = Model.Id }, htmlAttributes: new { @class = "btn" }, iconHtmlAttributes: new { @class = "icon-quill" })
    </p>
}

@Html.Partial("BlogBody", Model, new ViewDataDictionary{ { "IsSummarized", false }, { "IsAdmin", ViewBag.BlogSettings.IsAdmin } })
<hr />


<p class="centered">
    <a name="comments" id="comments"></a>
    @if (ViewBag.BlogSettings.AllowComments && Model.AllowComments) { <a class="btn" href="#addcomment"><span class="icon-bubble"></span> Add Comment</a> }
    else { <span>Comments are closed.</span> }
</p>


@Html.Action("Comments", routeValues: new { id = Model.Id })

@if (ViewBag.BlogSettings.AllowComments && Model.AllowComments)
{
    @Html.Partial("CommentForm", Model.Comment)
} 
       
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor_js")
    @Html.SpamPreventionScript()

    <script type="text/javascript">
        $(document).ready(function () {
            $('.field-validation-error').tooltip();
        });
    </script>
}