@model IEnumerable<WR.Blog.Mvc.Areas.SiteAdmin.Models.BlogPost>

@{
    ViewBag.Title = "Yet Another Web Log";
}

@if (@ViewBag.BlogSettings.IsAdmin)
{
    <p class="centered">
        @Html.IconLink(" Create New Post", "Create", "BlogAdmin", fragment: null, routeValues: new { Area = "SiteAdmin" }, htmlAttributes: new { @class = "button" }, iconHtmlAttributes: new { @class = "icon-createfile" })
        @Html.IconLink(" Blog Admin", "Index", "BlogAdmin", fragment: null, routeValues: new { Area = "SiteAdmin" }, htmlAttributes: new { @class = "button" }, iconHtmlAttributes: new { @class = "icon-book" })
    </p>
}

@foreach (var item in Model) {
    @Html.Partial("BlogBody", item, new ViewDataDictionary{ { "IsSummarized", true }, { "IsAdmin", ViewBag.BlogSettings.IsAdmin } })
    <hr />
}

@if (Model.Count() == 0)
{
    <h1>Oops... No results.</h1>
    <p><a href="@Url.Content("~/")">Go home.</a></p>
}